#popjoinroom {
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-size: cover;
    color: #e5e5e5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
  }
  
  #popjoinroom .joinroomcontainer {
    width: 400px;
    padding: 2rem;
    background-color: #22262ee2;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);
    text-align: center; 
  }
  
  #popjoinroom .title {
    color: #ffffff;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }
  
  #popjoinroom .textField {
    width: 100%;
    background-color: #4a4a4a;
    color: #fff7f7;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  #popjoinroom .textField:focus {
    border-color: #e50914;
  }
  
  #popjoinroom .button {
    margin-top: 1rem;
    width: 100%;
    background-color: rgb(253, 190, 1);
    color: #080707;
    border: none;
    border-radius: 5px;
    padding: 0.8rem;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
  }
  
  #popjoinroom .button:hover {
    background-color: rgb(254, 203, 53);
  }
  
  #popjoinroom .logoutButton {
    position: absolute; 
    top: 1rem;
    right: 1rem;
    background-color: rgb(230, 176, 13);
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    z-index: 10;
  }
  
  #popjoinroom .logoutButton:hover {
    background-color: rgb(252, 197, 32);
  }
  