.admincontainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 80px;
    width: 1440px;
    /* background-color: red; */

}

.show {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    /* justify-content: center; */
    gap: 10px;
}

.show img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.show span {
    font-size: 16px;
    font-weight: 600;
    max-width: 20px;
}

.show h2 {
    font-size: 16px;
    /* font-weight: 600; */
    color: #0d0d0d;
    width: 500px;
}

.show p {
    font-size: 16px;
    font-weight: 600;
    color: #0d0d0d;
    width: 100px;
}


.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.buttons button:nth-of-type(1) {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.buttons button:nth-of-type(2) {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF6F61;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.Addpropertybtn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0d0d0d;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
}