.main {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-top: 100px;
    padding: 0 20px;
}

.heading {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 14px;
    font-weight: 400;
    color: #FBFCF8;
    margin-bottom: 20px;
    background-color: #0d0d0d;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 50px;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.mainText {
    width: 100%;
    max-width: 50%;
    padding: 0 20px;
    margin-bottom: 20px;
}

.mainText h2 {
    color: #4CAF50;
    font-size: 48px;
    line-height: 50px;
}

h2:nth-of-type(2) {
    margin-bottom: 2rem;
}

.mainText p {
    color: #0d0d0d;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    padding: 5px 20px;
    border-left: 2px solid #FF6F61;
    background-color: #a1b7c21f;
    width: 100%;
    max-width: 80%;
}

.mainText a {
    background-color: #FF6F61;
    color: #0d0d0d;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    margin-top: 40px;
    cursor: pointer;
    font-weight: 500;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mainText a:hover {
    background-color: #FF6F61aa;
}
.bentoGrid {
    width: 50%;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightDown {
    display: flex;
    gap: 20px;
}

.rightDown2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.amenitiesSection {
    width: 100%;
    margin-top: 100px;
    /* background-color: #a1b7c21f; */
    padding: 50px 20px;
}

.amenitiesTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.amenitiesTextContainer h3 {
    color: #FBFCF8;
    font-size: 14px;
    font-weight: 500;
    background-color: #0d0d0d;
    padding: 5px 15px;
    border-radius: 50px;
}

.amenitiesTextContainer p {
    color: #607D8B;
    font-size: 36px;
    line-height: 34px;
    width: 100%;
    max-width: 80%;
    text-align: center;
    margin-top: 10px;
}

.amenitiesCardContainer {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
}


.HomeListingSection {
    /* width: 100%; */
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.HomeListingCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.HomeListingTextContainer h3 {
    font-size: 14px;
    font-weight: 400;
    color: #FBFCF8;
    margin-bottom: 20px;
    background-color: #0d0d0d;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 50px;
}

.HomeListingTextContainer p {
    color: #0d0d0d;
    font-size: 36px;
    line-height: 34px;
    margin-top: 10px;
}


@media (max-width: 1024px) {
    .mainText h2 {
        font-size: 36px;
        line-height: 40px;
    }

    .mainText p, .mainText a {
        font-size: 16px;
    }

    .bentoGrid {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .mainContent {
        flex-direction: column;
        align-items: flex-start;
    }

    .mainText, .bentoGrid {
        max-width: 100%;
        width: 100%;
    }

    .mainText h2 {
        font-size: 28px;
        line-height: 32px;
    }

    .mainText p {
        font-size: 14px;
    }

    .HomeListingTextContainer p, .amenitiesTextContainer p {
        font-size: 28px;
        line-height: 32px;
    }

}


@media (max-width: 480px) {

    .bentoGrid>div:nth-of-type(1) {
        display: none;
    }
}



@media (max-width: 412px) {
    h1, .mainText h2, .mainText p, .amenitiesTextContainer h3, .amenitiesTextContainer p, .HomeListingTextContainer p {
        text-align: center;
    }

    .mainText p{
        margin-left: 40px;
    }
    .mainContent .mainText .getstarted{
        text-align:center;
        margin-left: 108px;
    }

    .mainText h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .mainText p {
        font-size: 12px;
    }

    .mainText a {
        font-size: 14px;
        padding: 8px 16px;
    }

    .bentoGrid, .HomeListingCardContainer, .amenitiesCardContainer {
        flex-direction: column;
        align-items: center;
    }
}
