footer {
    background-color: #F4F6F8;
    /* background-color: #1c1c1c; */
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}


.footerLogo {
    height: 40px;
}

.footerLogo img {
    width: 100%;
    height: 100%;
}

.footerLogo div {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 30px;
    margin-top: 10px;
    flex-wrap: wrap;

}

.footerIcons {
    color: #0d0d0d;
}

.footerMain {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerLinks {
    display: flex;
    flex-direction: column;
}

.footerLinks h4 {
    font-size: 20px;
    font-weight: 500;
    color: #0d0d0d;
}

.footerLinks a {
    font-size: 16px;
    font-weight: 500;
    color: #343434;
    margin-top: 10px;
    text-decoration: none;
}

.footerMainDown{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footerMainDown span {
    font-size: 12px;
    font-weight: 500;
    color: #0d0d0d;
    padding-bottom: 20px;
    padding-top: 10px;
}

@media screen and (max-width: 768px) {

    .footerLogo  {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footerLogo div {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footerLogo img {
        width: 70%;
        height: 100%;
    }

    .footerMain {
        flex-direction: column;
        gap: 20px;
    }

    .footerLinks {
        align-items: center;
    }

    .footerMainDown {
        flex-direction: column;
        gap: 20px;
    }
    
}